@import url("https://fonts.googleapis.com/css2?family=Kenia&family=Roboto:ital,wght@0,100..900;1,100..900&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  padding: 0;
  box-sizing: border-box; }

h1 {
  font-family: 'poppins', sans-serif;
  font-weight: 700;
  font-size: 5rem;
  color: #C9A7EB; }

h2 {
  font-family: 'poppins', sans-serif;
  font-weight: 600;
  font-size: 3rem; }

h3 {
  font-family: 'poppins', sans-serif;
  font-weight: 600;
  font-size: 2.5rem; }

h4 {
  font-family: 'poppins', sans-serif;
  font-weight: 600;
  font-size: 1.5rem; }

.btn {
  padding: 1.25rem 2.5rem;
  border: none;
  background-color: #C9A7EB;
  cursor: pointer;
  border-radius: 25rem;
  box-shadow: 0 0 1rem #0000002e;
  transition: all .3s ease-in-out; }
  .btn a {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 500; }
  .btn:hover {
    background-color: #000; }
  .btn:active {
    transform: scale(0.9); }

.btn-transparent {
  padding: 1.25rem 2.5rem;
  border: 0.1rem solid #C9A7EB;
  background-color: transparent;
  cursor: pointer;
  border-radius: 25rem;
  box-shadow: 0 0 1rem #0000002e;
  transition: all .3s ease-in-out; }
  .btn-transparent a {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 500; }
  .btn-transparent:hover {
    background-color: #000;
    border: .1rem solid #000; }
  .btn-transparent:active {
    transform: scale(0.9); }

nav {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  z-index: 1000;
  transition: all .3s ease-in-out; }

nav.scroll {
  background-color: #272727;
  box-shadow: 0 0 1rem #0000002e; }

.navigation__brand {
  color: #fff;
  font-size: 3.5rem;
  font-weight: 400;
  font-family: "Kenia", sans-serif;
  cursor: pointer; }
  .navigation__brand span {
    font-size: 6rem; }

.navigation__bars {
  font-size: 3.5rem;
  color: #fff;
  cursor: pointer; }
  .navigation__bars i {
    padding: 1rem 1rem 1rem 6rem; }

.navigation__items.active {
  transform: translateX(0); }

.navigation__items {
  position: absolute;
  top: 0;
  right: 0;
  min-height: 100vh;
  height: 100%;
  overflow-y: auto;
  width: 40%;
  background-color: #272727;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding: 5rem;
  box-shadow: 0 0 1rem #0000002e;
  transform: translateX(100%);
  transition: all .4s ease-in-out; }
  .navigation__items i {
    background: transparent;
    box-shadow: none;
    display: inline-flex;
    align-self: flex-end; }
  .navigation__items li {
    list-style: none;
    font-size: 2.5rem; }
    .navigation__items li a {
      text-decoration: none;
      color: #555;
      font-family: "Roboto", sans-serif;
      font-weight: 600;
      letter-spacing: .25rem;
      transition: all .3s; }
    .navigation__items li a:hover {
      color: #C9A7EB;
      transform: translateX(5rem) scale(1.3); }
  .navigation__items-rs {
    width: 100%;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    padding: 0;
    text-align: start;
    gap: 4rem;
    padding: 5rem 0; }
    .navigation__items-rs i {
      padding: 0 !important; }

.dot-nav {
  position: fixed;
  top: 50%;
  right: 4rem;
  transform: translateY(-50%);
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  z-index: 100; }

.dot-nav li a span {
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  background-color: #555;
  border-radius: 50%;
  transition: background-color 0.3s, transform 0.3s;
  border: 2px solid transparent; }

.dot-nav li a:hover span,
.dot-nav li a.active span {
  background-color: #C9A7EB;
  transform: scale(1.3);
  border-color: #fff; }

.hero {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(135deg, #1E1E1E, #151515);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 5rem;
  overflow: hidden; }
  .hero__content {
    position: relative;
    height: 100%;
    margin-top: 10rem; }
    .hero__content h1 {
      font-size: 9rem;
      color: #fff;
      line-height: 8rem;
      font-family: "Winky Rough", sans-serif;
      padding: 1rem 0; }
      .hero__content h1 span {
        color: #C9A7EB; }
    .hero__content p {
      font-size: 2.5rem;
      color: #fff;
      width: 45%;
      padding: 1rem 0; }
    .hero__content i {
      padding: 2.5rem 2.5rem;
      border-radius: 50%;
      border: 1px solid #fff;
      font-size: 1.5rem;
      color: #fff;
      cursor: pointer;
      transition: all .3s ease-in-out; }
      .hero__content i:hover {
        transform: scale(1.1);
        color: #C9A7EB;
        border: 1px solid #C9A7EB; }
  .hero__image {
    position: relative; }
    .hero__image img {
      width: 40rem;
      object-fit: cover;
      position: absolute;
      top: 0;
      right: 0;
      transform: scale(2.2) translateY(8rem); }
  .hero .contour {
    display: flex;
    gap: 2.5rem;
    align-items: center; }
    .hero .contour .break {
      display: block;
      height: .1rem;
      width: 10rem;
      background-color: #fff; }
  .hero::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url("https://www.transparenttextures.com/patterns/diamond-upholstery.png");
    opacity: .05;
    z-index: 0; }
  .hero::after {
    content: '';
    position: absolute;
    top: 20%;
    left: 30%;
    width: 80%;
    height: 80%;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.02), transparent);
    clip-path: polygon(0% 10%, 100% 0%, 90% 90%, 10% 100%);
    z-index: 0; }

.section2 {
  background-image: linear-gradient(135deg, #1E1E1E, #151515);
  min-height: 100vh;
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  position: relative;
  padding: 5rem 5rem 15rem 5rem;
  gap: 5rem; }
  .section2__bgtitle {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%) rotate(-90deg);
    display: flex;
    align-items: center;
    color: #ffffff24;
    font-size: 10rem;
    font-weight: 900;
    letter-spacing: 3rem;
    font-family: "Winky Rough", sans-serif;
    white-space: nowrap;
    padding-left: 2rem;
    z-index: 1; }
  .section2__cards-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 5rem;
    width: 100%;
    flex-wrap: wrap; }
  .section2__card-right:hover, .section2__card-left:hover {
    box-shadow: 0 0 1rem #C9A7EB;
    transform: scale(1.02); }
  .section2__card-right:hover {
    transform: scale(1.02) translateY(10rem); }
  .section2__card-left, .section2__card-right {
    width: 45%;
    height: auto;
    font-size: 1.5rem;
    box-shadow: 0 0 1rem #000000a2;
    padding: 2rem;
    cursor: pointer;
    z-index: 10;
    position: relative;
    transition: all .3s ease-in-out; }
    .section2__card-left h2, .section2__card-right h2 {
      color: #fff; }
    .section2__card-left h3, .section2__card-right h3 {
      color: #fff;
      font-size: 4rem;
      font-family: "Winky Rough", sans-serif; }
    .section2__card-left p, .section2__card-right p {
      color: #ffffff24;
      font-size: 1.5rem;
      font-family: "Roboto", sans-serif; }
    .section2__card-left--title, .section2__card-right--title {
      position: absolute;
      top: -4rem;
      left: 3rem; }
  .section2__card-left img {
    height: 50%;
    width: 100%;
    object-fit: cover; }
  .section2__card-right {
    transform: translateY(10rem); }
  .section2::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url("/img/wall.png");
    opacity: 0.2;
    z-index: 0; }

.section3 {
  background-image: linear-gradient(135deg, #1E1E1E, #151515);
  min-height: 100vh;
  height: 100%;
  width: auto;
  padding: 5rem;
  position: relative;
  display: flex;
  flex-direction: column; }
  .section3__bgtitle {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) rotate(-90deg);
    display: flex;
    align-items: center;
    color: #ffffff24;
    font-size: 10rem;
    font-weight: 900;
    letter-spacing: 3rem;
    font-family: "Winky Rough", sans-serif;
    white-space: nowrap;
    padding-left: 2rem;
    z-index: 1; }
  .section3 h2 {
    font-size: 4rem;
    color: #fff;
    font-family: "Winky Rough", sans-serif; }
    .section3 h2 span {
      color: #C9A7EB;
      font-size: 6rem; }
  .section3__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    padding: 5rem;
    cursor: pointer; }
    .section3__cards--item {
      padding: 4rem 3rem;
      border-radius: 2rem;
      height: 100%;
      box-shadow: 0 0 1rem #0000002e;
      transition: all .3s;
      z-index: 10; }
      .section3__cards--item h3 {
        padding: 2rem 0;
        color: #fff;
        z-index: 10; }
      .section3__cards--item p {
        font-size: 1.6rem;
        font-weight: 400;
        color: #3c3c3c; }
      .section3__cards--item i {
        font-size: 7rem;
        color: #C9A7EB; }
      .section3__cards--item:hover {
        box-shadow: 0 0 1rem #c603f72e;
        transform: scale(1.05); }
  .section3__button button {
    border: none;
    background-color: transparent;
    padding: 1rem; }
    .section3__button button a {
      text-decoration: none;
      color: #fff;
      font-family: "Winky Rough", sans-serif; }
  .section3::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url("/img/light.png");
    opacity: .25;
    z-index: 0; }

.section4 {
  display: flex;
  align-items: center;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(135deg, #1E1E1E, #151515);
  position: relative; }
  .section4__nextPrev {
    position: absolute;
    width: 98vw; }
    .section4__nextPrev button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: rgba(0, 0, 0, 0.4);
      border: none;
      padding: 0.5rem;
      border-radius: 50%;
      cursor: pointer;
      transition: background 0.3s ease; }
      .section4__nextPrev button i {
        font-size: 2.5rem;
        color: #fff; }
      .section4__nextPrev button:hover {
        background: rgba(255, 255, 255, 0.2); }
      .section4__nextPrev button:focus {
        outline: 2px solid #fff;
        outline-offset: 2px; }
    .section4__nextPrev .left {
      left: 1rem; }
    .section4__nextPrev .right {
      right: 1rem; }
  .section4 .break {
    display: block;
    height: .1rem;
    width: 25%;
    background-color: #c3c3c3;
    margin: 1rem 0; }
  .section4__portfolio {
    margin-top: 10rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7rem; }
    .section4__portfolio-item span {
      font-size: 1.2rem;
      color: #c3c3c3; }
    .section4__portfolio-item--featured {
      font-size: 3rem;
      color: #C9A7EB; }
    .section4__portfolio-item h1 {
      color: #fff; }
    .section4__portfolio-item p {
      color: #c3c3c3;
      font-size: 2rem;
      width: 45%; }
    .section4__portfolio-item--button {
      margin: 2rem 0; }
      .section4__portfolio-item--button a {
        text-decoration: none;
        color: #fff; }
    .section4__portfolio-image {
      max-width: 50vw; }
      .section4__portfolio-image img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
        object-fit: cover;
        cursor: pointer;
        transition: all .3s ease-in-out; }
        .section4__portfolio-image img:hover {
          transform: scale(1.025);
          box-shadow: 0 0 1rem #0000002e; }
