.contour {
    width: 20rem;
    background-color: #000;
    border-bottom-right-radius: 25rem;
    border-top-right-radius: 25rem;
    box-shadow: $shadow-white;
    padding: .5rem 0.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;

    p {
        color: $color-primary !important;
        font-family: "Winky Rough", sans-serif;
        font-weight: 600;
    }
}
